<div class="container container-page">
    <h1>New Event</h1>

    <form name="eventForm"></form>
        <div class="form-group">
            <label for="eventName">Event Name:</label>
            <input type="text" class="form-control" id="eventName"  placeholder="Enter Event Name" ng-model="event.name" required>
        </div>
        <div class="form-row align-items-end">
            
            <div class="col col-md-3">
                <div class="form-group">
                    Select Site for Event:
                </div>
                <div class="form-group">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="siteRadio0" name="siteradio" ng-value="'1'" ng-model="event.siteId">
                        <label class="custom-control-label" for="siteRadio0">Pardesia</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="siteRadio1" name="siteradio" ng-value="'2'" ng-model="event.siteId">
                        <label class="custom-control-label" for="siteRadio1">Yoqneam</label>
                    </div>
                </div>
            </div>

            <div class="col col-md-4">
                <div class="form-group">
                    Select Event Type:
                </div>
                <div class="form-group">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="typeRadio0" name="type" ng-value="'1'" ng-model="event.type">
                        <label class="custom-control-label" for="typeRadio0">Private Lesson</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="typeRadio1" name="type" ng-value="'2'" ng-model="event.type">
                        <label class="custom-control-label" for="typeRadio1">Group Class</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="day">Duration</label>
                <select class="form-control" id="day" name="day" ng-model="event.duration" required>
                    <option value=30>30 Min.</option>
                    <option value=45>45 Min.</option>
                    <option value=60>1 Hour</option>
                </select>
            </div>      
            
            <div class="col col-md-3">
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="repeat" ng-model="event.isRepeat">
                        <label class="custom-control-label" for="customCheck">Repeat Every Week?</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="activityNum">End After # Ocuurences:</label>
                    <input type="number" name="quantity" min="1" max="50" class="form-control" id="activityNum"  placeholder="Enter number of Occurrances" 
                    ng-model="event.activityNum">
                </div>
            </div>
            
            
        </div>
                
    
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="eventDate">Effective Date</label>
                <tamnun-date-picker></tamnun-date-picker>
                

            </div>
            
            <div class="form-group col-md-4">
                <div uib-timepicker ng-model="startHourDt"  hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
            </div>
            
        </div>      
        
       
        <div class="form-row align-items-end">
            <div class="form-group col-md-4">
                <label for="trainerSearch">search for Trainer</label>
                <input type="text" class="form-control search-box" id="trainerSearch"  placeholder="Filter by trainer name" ng-model="queryTrainer">
            </div>
            <div class="form-group col-md-1">
                <button type="button" class="btn btn-primary" ng-click="updateTrainerSearchResults(event.siteId)"><span><i class="fas fa-search"></i></span></button>
            </div>
            <div class="form-group col-md-4">
                <label for="trainer">Selected Trainer</label>
                <input type="text" readonly class="form-control" id="trainer"  ng-value="selectedTrainer">
            </div>
        </div>
        
        <div class="search-results" ng-show="searchTrainerResults.length > 0">
                <ul class="list-group">
                    <!-- need to insure that we are not changing the url rom the list -->
                    <a href="javascript:void(0)" ng-repeat="result in searchTrainerResults | filter : filterTrainer as filteredTrainers"
                    class="list-group-item list-group-item-action" ng-click="setTrainerForEvent(result)">{{result.fname + " " + result.lname}}</a>
                </ul>
            </div>
        
        <div class="row justify-content-end h-100">
            <!-- <button type="button" class="btn btn-primary mb-2 mr-2" ng-click="openCalendar()">Show Events</button> -->
            <button type="button" class="btn btn-primary mb-2 mr-2" ng-click="showEventsInCalendar()">Calendar Events</button>
            
            
            
            <!-- <button type="button" class="btn btn-primary mb-2 mr-2" ng-click="addEvent(false)">Save as Draft</button> -->
            <button type="button" class="btn btn-primary mb-2" ng-click="addEvent(true)">Save</button>
        </div>
    </form>
    <tamnun-calendar ng-if="showCal"></tamnun-calendar>
</div>