<div class="container container-page">
    <h1>New Event</h1>

    <form>
        <div class="form-group">
            <label for="eventName">Event Name:</label>
            <input type="text" class="form-control" id="eventName" value={{name}} placeholder="Enter Event Name" ng-model="name">
        </div>
        
        <div class="form-group">
            <label for="eventDate">Start Date</label>
            <div class="col-md-6">
                <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="eventDate" 
                is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" 
                alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open()"><i class="far fa-calendar-alt"></i></button>
                </span>
                </p>
            </div>
        </div>
               

        <div class="form-group">
            <label for="siteId">Event in Site</label>
            <select class="custom-select" id="siteId" name="selSiteId" ng-model="siteId">
                <option value="1">Pardesia</option>
                <option value="2">Yoqneam</option>  
            </select>
            
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>