<div>
    <div class="row justify-content-start">
        <div class="col">
            <h4 ng-show="isAdmin"><small>Weekly Events:</small></h4>
            <h4 ng-show="isTrainer"><small>My Weekly Events:</small></h4>
        </div>
        
    </div>
    <div class="row justify-content-around">    
        <div class="col-md-1">
            <span ng-click="showPrevWeek()"><i class="fas fa-arrow-circle-left"></i></span>
        </div>
        <div class="col-md-8">
            Selected week: <strong>{{startDayStr}} - {{endDayStr}} </strong>
        </div>
        <div class="col-md-1">
                <span ng-click="showNextWeek()"><i class="fas fa-arrow-circle-right"></i></span>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-link" ng-click="showEvents()">
                <i class="far fa-clock"></i> Refresh</button>
        </div>
    </div>
    <div ng-show="weeklyEvents.length" class="row justify-content-end">
        <div class="col">
            <button type="button" class="btn btn-info" ng-click="showEventsInCalendar()">
                <i class="far fa-clock"></i> Show in Calendar</button>
        </div>
    </div>
    <div class="row">
        <ul class="col-md-12 list-group list-group-flush">
            <li class="list-group-item"ng-repeat="activity in weeklyEvents">
                <div class="row justify-content-around">
                    <div class="card col-md-12">
                        <!-- <div class="card-body" tooltip-placement="top" uib-tooltip="Click to add Alert" ng-click="addAlertModal(activity)"> -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h5 class="card-title">{{activity.eventDtls.eventName}}</h5>
                                </div>
                                <div class="col-md-4">
                                        <button type="button" class="btn btn-link" ng-click="addAlertModal(activity)">
                                                Create Alert<i class="fas fa-exclamation-triangle"></i></button>
                                </div>
                            </div>
                            <h6 class="card-subtitle mb-2 text-muted" ng-show="isAdmin">
                                Trainer: {{ activity.trainerDtls.fname + " " + activity.trainerDtls.lname }} 
                            </h6>
                                    
                                       
                            <p class="card-text"><strong>Date & Time: </strong> {{formatDate(activity.activityDate) + " " + activity.activityTime}}
                            </p>
                            <div class="row justify-content-around">
                                <div class="col"><strong>Duration:</strong> {{activity.eventDtls.eventDuration}} Minutes</div>
                                <div class="col-md-2">
                                        <small ng-class="{'text-muted': activity.state == 'Active', 'text-danger': activity.state == 'Cancel','text-success': activity.state == 'Handled' }">                                        
                                                {{activity.state}}</small>
                                </div>

                            </div>
                        </div>
                    </div>
                    
                    
                    <!-- <div class="col-md-1">
                        <button type="button" class="btn btn-link text-danger" ng-click="addAlertModal(activity)">
                        New <i class="fas fa-exclamation-triangle"></i></button>
                    </div> -->
                </div>
            </li>
        </ul>
        <Small ng-hide="weeklyEvents.length">No Data found.</small>
    </div>
</div>