<!-- Modal -->
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" ng-show="mode=='I'">Add New Trainer</h5>
        <h5 class="modal-title" ng-show="mode=='U'">Update Trainer</h5>
        <button type="button" class="close" aria-label="Close" ng-click="cancelTrainerAction()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group row">
                <label for="fname" class="col-sm-3 col-form-label">First Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="fname" value={{fname}} placeholder="Enter first name" ng-model="fname">
                </div>
            </div>
            <div class="form-group row">
                <label for="lname" class="col-sm-3 col-form-label">Last Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="lname" placeholder="Enter last name" ng-model="lname">
                </div>
            </div>
            <div class="form-group row">
                <label for="phone" class="col-sm-3 col-form-label">Phone</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="phone" placeholder="Enter phone number" ng-model="phone">
                </div>
            </div>
            <div class="form-group row">
                <label for="userName" class="col-sm-3 col-form-label">User Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="userName" placeholder="Enter Trainer User Name" ng-model="userName">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="email" placeholder="Enter your Email" ng-model="email">
                </div>
            </div>
            

            <div class="form-group row">
                <label for="siteId" class="col-sm-3 col-form-label">Work in Site</label>
                <div class="col-sm-9">
                    <select class="form-control" id="siteId" name="selSiteId" ng-model="siteId">
                        <option value="-1">Both</option>
                        <option value="1">Pardesia</option>
                        <option value="2">Yoqneam</option>  
                    </select>
                </div>
            </div>
            
        </form>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ng-click="cancelTrainerAction()">Close</button>
        <button type="button" class="btn btn-primary" ng-show="mode=='I'" ng-click="addTrainer()">Save</button>
        <button type="button" class="btn btn-primary" ng-show="mode=='U'" ng-click="editTrainer()">Update</button>
    </div>
</div>