<div class="container container-page">
    <div class="row justify-content-around">
        <div class="col-md-8">
            <h1>Trainers <span ng-show="filterSite=='1' || filterSite=='2'">
                in Site: {{filterSite==1?'Pardesia':'Yoqneam'}}</span>
                <span class="badge badge-primary badge-pill">{{trainers.length}}</span></h1>
        </div>
        
        <div class="btn-add col-md-2">
            <button type="button" class="btn btn-link" ng-click="openNewTrainerModal()">
                <i class="fas fa-user-plus"></i> Add Trainer</button>
        </div>
    </div>
    
    <div class="form-group search-container">
        <div class="search-query col-md-6 ">
            <input class="form-control my-3" placeholder="Filter Trainers by Name" ng-model="query">
        </div>
        
        <div class="custom-control custom-checkbox search-button col-md-2">
            <input type="checkbox" class="custom-control-input" id="customCheck" name="filterCancel" ng-model="isCancel">
            <label class="custom-control-label" for="customCheck">filter Cancel?</label>
        </div>
        
        <div class="form-group col-md-4">
            <div>
                Filter by Site:
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="siteRadio0" name="siteradio" ng-value="-1" ng-model="filterSite">
                <label class="custom-control-label" for="siteRadio0">Both</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="siteRadio1" name="siteradio" ng-value="1" ng-model="filterSite">
                <label class="custom-control-label" for="siteRadio1">Pardesia</label>
                
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="siteRadio2" name="siteradio" ng-value="2" ng-model="filterSite">
                <label class="custom-control-label" for="siteRadio2">Yoqneam</label>
            </div>
        </div>
        
    </div>
        
    
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-5" ng-repeat="trainer in trainers | filter : filterTrainer as filteredTrainers">
            <div class="card recipe h-100">
                <!-- <img class="card-img-top avatar" ng-src="{{trainer.img}}" alt="Trainer image"> -->
                <img class="card-img-top avatar" ng-src="https://www.seekpng.com/png/detail/110-1100707_person-avatar-placeholder.png" alt="Person - Avatar Placeholder@seekpng.com">
                <div class="card-body">
                    <h4 class="card-title">{{trainer.fname + ' ' + trainer.lname}}
                            <span ng-show="trainer.isSigned" tooltip-placement="top" uib-tooltip="Trainer Signed-Up!">
                                    <img src="assets/img/iconfinder_User_Like_1084550_med.png" alt=""></span>
                    </h4>
                    <p class="card-text">
                        <span>
                            <i class="fas fa-phone text-info"></i>
                        </span>
                        <span class="text-info">
                            #:
                        </span>
                        <span class="font-weight-bold">
                            {{trainer.phone}}
                        </span>
                        <br>
                        <span class="text-info">
                            <i class="fas fa-at"></i>:
                        </span>
                        <span class="font-italic font-weight-bold">
                            {{trainer.email}}
                        </span>
                        <br>
                        <span class="text-info">
                            <i class="fas fa-swimmer"></i>
                        </span>
                        <span class="font-weight-bold">
                            {{trainer.siteId==1?'Pardesia':'Yoqneam'}}
                        </span>
                        <br>
                        <span ng-class="{'text-success': trainer.state=='Active', 'text-danger': trainer.state=='Cancel'}">
                            {{trainer.state}}
                        </span>
                    </p>
                    <div class="row justify-content-end">
                        <button type="button" class="btn btn-primary btn-sm mr-3" ng-click="openTrainer(trainer.id)">Edit Trainer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  </div>

  
