

/************* Related to Landing Page - General **********************/
:root {
--lightblue: #F6F9FC;
--red: #d64041;
}

a,
a:hover {
color: inherit;
}

a:hover {
text-decoration: none;
}

.bg-lightblue {
background: var(--lightblue);
}

.bg-red {
background: var(--red);
}

.text-red {
color: var(--red);
}

.text-lightblue {
	color: var(--lightblue);
}

.container-fluid-max {
max-width: 1440px;
}

.cover {
background: no-repeat center/cover;
}

.p-15 {
padding: 15px;
}

/******* Header CSS *****************/
.scroll .page-header {
	background: var(--red);
  }
   
  .page-header {
	transition: background 0.5s ease-in-out;
  }
   
  .page-header .navbar {
	/*padding: 1rem 0;*/
  }
   
  .page-header .navbar-toggler {
	border-color: var(--white); 
  }
   /*till find solution for adding red only when scroll - comment the media query
  @media screen and (max-width: 991px) {*/
	.page-header {
	  background: var(--red);
	}
  /*}*/

  /**** main homesection in landing page  *************/
  .scroll .hero {
	transform: scale(0.98);
  }
   
  .hero {
	background-attachment: fixed;
	transition: transform 0.5s ease-in-out;
  }
   
  .hero::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(
	  rgba(0, 0, 0, 0.5) 0,
	  rgba(0, 0, 0, 0.3) 50%,
	  rgba(0, 0, 0, 0.1) 100%
	);
  }
   
  .hero .container-fluid {
	z-index: 10;
  }

  /*********** footer ***********************************/
  .page-footer .footer-links {
	text-align: right;
  }
   
  @media screen and (max-width: 767px) {
	  .page-footer .footer-child {
	  text-align: center;
	  }
  }

  /** ********* Related to Login Page ************************* */

.login {
  max-width: 500px;
  margin: 0 auto;
  display:flex;
  align-items: stretch;  
  padding-right: 30px;
  padding-left: 30px;
  /*padding-top:300px;*/
  background: white;
}

.login-wrapper{
  background: var(--lightblue);
  /*padding: 50px;*/
  /*margin-bottom:50px;*/
  min-height: 100vh;
}
.container-page {
  margin-top: 90px;
}

.search-container {
  display: flex;
  align-items: center;
} 
.search-query {
  width: 70%;
}
.search-button {
  width: 20%;
  margin-left:  10px;
}

.btn-add {
  /*align-content: flex-end;*/
}

@media screen and (min-width: 767px) {
  /*.work-hours {
    width: 60%
  }*/
}

.icon {
  font-size: 1.5rem;
}

/********************* related to new event and trainers */
.search-box {
  position: relative;
}

.search-results {
  position: absolute;
  width: 30%;
  z-index: 10;
}

/********************* calendar */
body .fc {
  font-size: 0.7em;
}