<main>
    <!-- Banner Section -->
    <section id="home" class="d-flex align-items-center position-relative vh-100 cover hero" style="background-image:url(assets/img/HomeImage_03.jpg);">
        <div class="container-fluid container-fluid-max">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <h1 class="text-white">Tamnoon - Swim 4 Good </h1> 
                    <h3 class="text-white"> Administration</h3>
                    
                        <!-- <img src="assets/img/cropped-cropped-LogoHeader-1.png" alt="" srcset=""> -->
                    
                </div>
            </div>
        </div>
                  


        
                    
    </section>
     <!-- Process Section -->
    
    <section id="process" class="process">
        <div class="container-fluid container-fluid-max">
            <div class="row text-center py-5">
            <div class="col-12 pb-4">
                <h2 class="text-lightblue">How It Works</h2>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x text-red"></i>
                    <i class="fas fa-swimmer fa-stack-1x text-white"></i>
                </span>
                <h3 class="mt-3 text-red h4">Add Trainers</h3>
                <p>Admin will be creating the trainers via Trainer list. Trainer may sign up to the application
                    and get access to options available for trainers.
                </p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x text-red"></i>
                    <i class="fas fa-calendar-plus fa-stack-1x text-white"></i>
                </span>
                <h3 class="mt-3 text-red h4">Add Event</h3>
                <p>New Event may be a group class, or private lesson. Admin will have the option to add new Event, 
                    and decide how many occurrences it will include. Event will have specific date and time
                    and dedicated trainer. The admin can open calendar to see all existing events in the same month
                    in order to find the best suitable time slot.
                </p>
            </div>

                
            
            <div class="col-12 col-sm-6 col-lg-3">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x text-red"></i>
                    <i class="fas fa-exclamation-triangle fa-stack-1x text-white"></i>
                </span>
                <h3 class="mt-3 text-red h4">Create Alert</h3>
                <p>Alert can be created by Admin or by Trainer on specific event, 
                    in order to provide notification for action, for example wen trainer 
                    may not attend the event and looking for replacement. 
                    Open alerts will be tracked both by Admin and trainer,
                    till they are resolved
                </p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x text-red"></i>
                    <i class="fas fa-envelope-open-text fa-stack-1x text-white"></i>
                </span>
                <h3 class="mt-3 text-red h4">Send Message</h3>
                <p>This option will be part of next release, in order to communicate 
                        between trainers and Admin
                </p>            
            </div>
            <div class="col-12 pt-3">
                <a class="btn bg-lightblue text-red" href="#!/login" role="button">Login for more...</a>
            </div>
            </div>
        </div>
    </section>  
    
    <section id="featured-destinations" class="featured-destinations bg-lightblue">
        <div class="row no-gutters">
            <div class="col-12 col-md-6 d-flex align-items-center order-1 order-md-0">
                <div class="p-15">
                    <h3 class="text-red">Administration Activities</h3>
                    <p>
                        Admin will create the trainers, schedule all the events and monitor the different activities
                         including:
                    </p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h5 class="mb-1">Monitor open Alerts</h5>
                            <p class="mb-1">Alert may be created by trainer or by the admin to indicate on issue with specific event.
                                The Admin will have list of open events that require his attention. From specific alert the admin may 
                                open the event and take the needed action, such as find replacement or cancel the event.
                            </p>
                        </li>
                        <li class="list-group-item">
                                <h5 class="mb-1">Create and View Messages</h5>
                                <span class="badge badge-pill badge-danger">Future Release</span>
                        </li>
                        <li class="list-group-item">
                            <h5 class="mb-1">Review Past/Future Events per Trainer</h5>
                            <p class="mb-1">The administrator can see summery of activities held by trainer in specific month
                                and the detailed list of events on weekly basis.
                            </p>
                        </li>
                        <li class="list-group-item">
                            <h5 class="mb-1">Review weekly activities  per Site</h5>
                            <p class="mb-1">The administrator can view all activities planned for specific  site on daily/weekly view.
                                the administrator will be able to add/cancel/update existing events
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 order-0 order-md-1">
                <div class="vh-100 cover" style="background-image:url(assets/img/Beginners_Bottom.jpg);">...</div>
            </div>
            <div class="col-12 col-md-6 order-2">
                <div class="vh-100 cover" style="background-image:url(assets/img/IMG_0934.jpg);"></div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center order-3">
                <div class="p-15">
                    <h3 class="text-red">Trainers Activities</h3>
                    <p>
                        Trainer need to sign-up with the user id provided by the admin, and from this point he may login to the system.
                        trainers will be able to do several activities including:
                    </p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h5 class="mb-1">Check Past/Future Events</h5>
                            <p class="mb-1">The trainer can see the activities he participated on weekly basis.
                                The trainer can see also future planned events for him.
                            </p>
                        </li>
                        <li class="list-group-item">
                            <h5 class="mb-1">Create Alert for coming event</h5>
                            <p class="mb-1">Alert may be created if trainer cannot attend specific event and need replacement.
                                it will allow the admin to get the needed information and look for replacement.
                                Trainer may view the status of the alert till it is handled and closed by the Admin
                            </p>
                        </li>
                        <li class="list-group-item">
                                <h5 class="mb-1">Create and View Messages</h5>
                                <span class="badge badge-pill badge-danger">Future Release</span>
                        </li>
                        <li class="list-group-item">
                            <h5 class="mb-1">Register Class Participates</h5>
                            <span class="badge badge-pill badge-danger">Future Release</span>
                        </li>
                        <li class="list-group-item">
                            <h5 class="mb-1">Provide Feedback for Trainees</h5>
                            <span class="badge badge-pill badge-danger">Future Release</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
   
</main>
