<div>
    <recipe-navbar></recipe-navbar>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Tamnoon Swimming Classes</h1>
            <p class="lead">under contruction!!!
                for refernece go to <a href="https://webdesign.tutsplus.com/tutorials/how-to-build-a-landing-page-with-bootstrap-4--cms-32519"
                target="_blank">
                    How to Build a Landing Page </a>
            </p>
            <hr class="my-2">
            <p class="lead">

                <a class="btn btn-primary btn-lg" href="#!/login" role="button">Log In</a>
            </p>
        </div>
    </div>
</div>