<div class="col">
    <p class="input-group">
    <input type="text" class="form-control" ng-required="true" uib-datepicker-popup="{{format}}" ng-model="event.startDate" 
    is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" 
    alt-input-formats="altInputFormats" ng-disabled="isDatePickerDisabled"  />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open()" ng-disabled="isDatePickerDisabled"><i class="far fa-calendar-alt"></i></button>
    </span>
    </p>
</div>