<!-- Modal -->
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" ng-show="mode=='I'">Add Work Hours for Trainer</h5>
        <h5 class="modal-title" ng-show="mode=='U'">Update Work Hours</h5>
        <h5 class="modal-title" ng-show="mode=='D'">Delete Work Hours</h5>
        <button type="button" class="close" aria-label="Close" ng-click="cancelWorkHourAction()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form ng-if="mode=='I' || mode=='U'">
            <div class="form-group row">
                <label for="day" class="col-sm-3 col-form-label">Week Day</label>
                <div class="col-sm-9">
                    <select class="form-control" id="day" name="day" ng-model="day">
                        <option value="Sun">Sunday</option>
                        <option value="Mon">Monday</option>
                        <option value="Tus">Tuesday</option>  
                        <option value="Wed">Wednesday</option>  
                        <option value="Thu">Thursday</option>  
                        <option value="Fri">Friday</option>  
                    </select>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="startHour" class="col-sm-3 col-form-label">From Hour</label>
                <div class="col-sm-9">
                    <div uib-timepicker ng-model="startHour"  hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="endHour" class="col-sm-3 col-form-label">Till Hour</label>
                <div class="col-sm-9">
                    <div uib-timepicker ng-model="endHour"  hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                </div>
            </div>
            
        </form>
        <div ng-show="mode=='D'">
            <p>
                Please confirm deleting the following Work Hours:
            </p>
            <p>Day: <strong>{{day}}</strong></p>
            <p>From Hour: <strong>{{startHour}}</strong></p>
            <p>Till Hour: <strong>{{endHour}}</strong></p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ng-click="cancelWorkHourAction()">Close</button>
        <button type="button" class="btn btn-primary" ng-show="mode=='I'" ng-click="addWorkHours()">Save</button>
        <button type="button" class="btn btn-primary" ng-show="mode=='U'" ng-click="editWorkHours()">Update</button>
        <button type="button" class="btn btn-primary" ng-show="mode=='D'" ng-click="deleteWorkHours()">Delete</button>
    </div>
</div>